<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <cpn :number1="num1" :number2="num2"
       @num1change="num1change"
       @num2change="num2change"></cpn>
</div>
<template id="cpn">
  <div>
    <h2> {{ number1 }}</h2>
    <input type="text" v-model="cnumber1">
    <h2> {{ number2 }}</h2>
    <input type="text" v-model="cnumber2">
  </div>
</template>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      counter: 0,
      num1: 100,
      num2: 200
    },
    methods: {
      num1change(value){
        this.num1 = parseInt(value)
      },
      num2change(value){
        this.num2 = parseInt(value)
      }
    },
    components: {
      cpn: {
        template: '#cpn',
        props: ['number1','number2'],
        data(){
          return {
            cnumber1: this.number1,
            cnumber2: this.number2,
          }
        },
        watch: {
          cnumber1(newValue) {
            this.$emit('num1change',this.cnumber1)
            this.cnumber2 = newValue / 100
          },
          cnumber2(newValue) {
            this.$emit('num2change',this.cnumber2)
            this.cnumber1 = newValue * 100
          },
        }
      }
    }
  })
</script>
</body>
</html>